@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
.container {
    padding: 50px 20px;
}

.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */ 
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: black !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

/*--------------------------Navbar*/

/* Add a dark background color with a little bit see-through */ 
.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity:0.9;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand { 
    color: black !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
    background-color: red !important;
}

/* Add a dark background color to the footer */
footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}

/*--------------------------Gallery*/


*{
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  top: 5%;
  padding: 50px 20px;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 10%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


.mySlides img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */ 
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: black !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

/*--------------------------About section*/


.person {
    border: 10px;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}
.person:hover {
    border-color: #f1f1f1;
} 

/*--------------------------Music*/

// ----- Personal preference -----
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

// ----- Variable Declarations -----
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
$color: #4FB6EC;

// ----- Styles -----
body {
  background-color: rgba(#222, 0.1);
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
  line-height: 1.5em;
}
.table {
  display: table;
  width: 100%;
  height: 100vh;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}
#playbar {
  visibility: hidden;
  height: 0;
  width: 0;
}
#player {
    margin: 0 auto;
    position: relative;
    width: 400px;
    height: 400px;
  #main {
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 5px;
    user-select: none;
    box-shadow: 0 10px 60px rgba(black, 0.6);
    background-image: url('https://d13yacurqjgara.cloudfront.net/users/358029/screenshots/2147223/perigee-album-art-v2-dribbble.gif');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 2;
    position: relative;
    transition: transform 0.4s ease-in-out;
  }
  &.show #main {
    transform: translateX(-200px);
  }
  &.show ol {
    transform: translateX(200px);
    box-shadow: 1px 2px 10px rgba(black, 0.3);
  transition: transform 0.4s ease-in-out, 0s box-shadow 0.05s;
  }
  .playback_controls {
    opacity: 0;
    color: rgba(black, 0.55);
    font-size: 22px;
    transform: translateY(10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    //height: 100px;
    padding: 20px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(#fff, 0.95);
    z-index: 1;
    .buttons {
      text-align: center;
      padding-left: 15px;
      i {
        display: inline-block;
        padding: 0 15px;
        width: 48px;
        text-align: center;
        cursor: pointer;
        &#playpause.loading {
          opacity: 0.4;
          position: relative;
          &:after {
            position: absolute;
            content: '';
            display: block;
            width: 50px;
            height: 50px;
            top: 50%;
            margin-top: -25px;
            margin-left: -28px;
            left: 50%;
            border: 3px solid #ddd;
            border-radius: 100%;
            border-right: 3px solid $color;
            animation-duration: 0.5s;
            animation-name: spin;
            animation-iteration-count:infinite;
            animation-timing-function: linear;
          }
        }
      }
    }
    .menu {
      float: right;
      cursor: pointer;
      opacity: 0.2;
      transition: opacity 0.2s;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}
#main:hover .playback_controls, .show #main .playback_controls {
  opacity: 1;
  transform: translateY(0px);
}
h2 {
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  margin: 0 0 10px 0;
}
h3 {
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  margin: 0;
}
.time-holder {
  padding: 0 40px;
  padding-bottom: 10px;
  .slider {
    width: 100%;
    height: 50px;
    position: relative;
    &:before {
      position: absolute;
      top: 50%;
      margin-top: -2px;
      left: 0;
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      background-color: rgba(#222, 0.075);
    }
    .fill {
      position: absolute;
      top: 50%;
      width: 100%;
      transform-origin: 0% 0%;
      transform: scaleX(0);
      margin-top: -2px;
      left: 0;
      content: '';
      display: block;
      height: 3px;
      background-color: $color;
      transition: transform 1s;
    }
  }
}
a {
  color: rgba(0, 0, 0, 0.55);
  text-decoration: none;
}
.time {
  font-size: 12px;
  font-weight: bold;
  opacity: 0.3;
  float: right;
}
ol#playlist {
  list-style-type: none;
  margin-left: 0;
  width: 400px;
  padding-left: 0;
  position: absolute;
  height: 300px;
  background-color: #fff;
  margin: 0;
  font-size: 16px;
  top: 50px;
  overflow-y: auto;
  transition: transform 0.4s ease-in-out, 0s box-shadow 0.3s;
  border-radius: 0 5px 5px 0;
  a {
    display: inline-block;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

ol#playlist > li {
  counter-increment: customlistcounter;
  padding: 12px 15px;
  height: 50px;
  position: relative;
  &:after {
    position: absolute;
    width: 300px;
    left: 9.5%;
    content: '';
    display: block;
    bottom: 0;
    border-bottom: 1px solid rgba(#222, 0.1);
  }
  &:last-child:after {
    border-color: transparent;
  }
  &:hover {
    background-color: rgba(#222, 0.02);
  }
  &.playing {
    background-color: rgba($color, 0.15);
    &:after {
      border-color: transparent;
    }
    &:hover {
      background-color: rgba($color, 0.2);
    }
  }
}

ol#playlist > li:before {
  content: counter(customlistcounter) " ";
  float: left;
  text-align: right;
  width: 1em;
  margin-right: 1em;
  font-size: 12px;
  font-weight: bold;
  opacity: 0.3;
  vertical-align: baseline;
  display: inline-block;
}

ol#playlist li:first-child {
  counter-reset: customlistcounter;
}

// ----- Mobile styles -----
@media only screen 
  and (max-device-width: 736px) { 
}

/*--------------------------Social Links*/


.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 30px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
    
    .social-links li a i:hover{
        background: #3b5998;
    }
    
    /*--------------------------Music*/
    
 /* SCROLL BAR */ 

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    

}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(150,150,150,0.8);  
}




body {
	background:#eee;
	font-family: Helvetica, sans-serif;
	font-size: 14px;
}

.container {
	margin: auto;
	margin-top: 20px;
  margin-bottom: 40px;
	width: 300px;
	-moz-box-shadow: 3px 3px 45px 10px #555;
	-webkit-box-shadow: 3px 3px 45px 10px #555;
	-o-box-shadow: 3px 3px 45px 10px #555;
	box-shadow: 3px 3px 45px 10px #555;
}

.carousel {
	width: 300px;
	height: 325px;
	position: relative;
	background-image:url(http://audeficheux.com/projects/carousel/src/images/background0.png);
	background-size: cover;
	transition: background-image 0.5s ease;
}

/*Slides*/

.carousel .slides{
	position: absolute;
	top:0px;
	right: 0px;
	bottom:0;
	left:0;
	overflow: hidden;
}

.carousel .slides .items {
	position: relative;
	width: 10000px;
	font-size:0;
	padding-left: 37.5px;
	transition: all ease-out 0.3s;
}

.carousel .slides .item {
	margin: 25px 12.5px;
	width: 200px;
	height: 300px;
	display: inline-block;
	background-repeat: no-repeat;
}
.carousel .slides .item .image {
	height: 200px;
	width: 200px;
	-moz-box-shadow: 6px 9px 20px #111;
	-webkit-box-shadow: 6px 9px 20px #111;
	-o-box-shadow: 6px 9px 20px #111;
	box-shadow: 6px 9px 20px #111;
}


.carousel .slides .item p {
	font-size: 12px;
	color: white;
	width: 200px;
	position: absolute;
	top: 250px;
	text-align: center;
}

.carousel .slides .item .artist {
	font-weight: 300;
	font-size: 16px;
	height: 25px;
}

.carousel .slides .item .track {
	font-weight: 500;
	font-size: 14px;
	top : 275px;
}




/*Siblings*/

.carousel .siblings .sibling{
	position: absolute;
	width: 25px;
	height: 200px;
	top: 25px;
	background: transparent;
	text-align: center;
	line-height:40px;
	text-decoration: none;
}

.carousel .siblings .sibling.prev{
	left:0px;
}
.carousel .siblings .sibling.next{
	right:0px;
}

.carousel .siblings .play{
	position: absolute;
	width: 200px;
	height: 200px;
	top: 25px;
	left: 50px;
	background-image: url(http://audeficheux.com/projects/carousel/src/images/play.png);
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	line-height:40px;
	text-decoration: none;
	transition: all 0.8s ease;
}

.carousel .siblings .play.invisible{
	background-image: none;
	transition: all 0.8s ease;
}

.carousel .siblings .play.invisible:hover{
	background-image: url(http://audeficheux.com/projects/carousel/src/images/pause.png);;
}


/*Seek Bar */

.carousel .seek-bar {
	position: absolute;
	top: 315px;
	width: 100%;
	height: 10px;
	background-color: rgba(0,0,0,0.2);
}

.carousel .seek-bar .progress-bar {
	background-color: rgba(30,30,30,0.6);
	width: 100%;
	height: 100%;
	-webkit-transform: scaleX(0);
	   -moz-transform: scaleX(0);
	    -ms-transform: scaleX(0);
	     -o-transform: scaleX(0);
	        transform: scaleX(0);
	-webkit-transform-origin: 0;
	   -moz-transform-origin: 0;
	    -ms-transform-origin: 0;
	     -o-transform-origin: 0;
	        transform-origin: 0;
	-webkit-transition: transform 0.2s;
	   -moz-transition: transform 0.2s;
	    -ms-transition: transform 0.2s;
	     -o-transition: transform 0.2s;
	        transition: transform 0.2s;
}


/* SONG LIST */


.container .choice {
	width: 300px;
	height: 200px;
	background-color: white;
}

.container .choice .tracks {
	height: 170px;
	overflow: scroll;

}


.container .choice .title{
	width: 290px;
	height: 30px;
	border-bottom: 1px solid #ccc;
	padding-left: 10px;
}

.container .choice .title p{
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	color: #555;
	font-size: 10px;
}


.container .choice .track{
	width: 250px;
	margin: auto;
	height: 50px;
	border-bottom: 1px solid #ccc;
	padding-left: 10px;
	font-weight: 300;
	cursor: pointer;
}

.container .choice .track div{
	display: inline-block;
}

.container .choice .track .number{
	line-height: 50px;
}

.container .choice .track .name{
	height: 30px;
	vertical-align: middle;
	padding-left: 25px;
}

.container .choice .track .name .song{
	margin-top: 4px;
	font-size: 12px;
}

.container .choice .track .speakers{
	height: 20px;
	width: 20px;
	background-image: url(http://audeficheux.com/projects/carousel/src/images/speaker.png);
	background-repeat: no-repeat;
	vertical-align: middle;
	float: right;
	margin-top: 15px;
}

.container .choice .track .speakers.invisible{
	display: none;
}


.credits {
  width:250px;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  font-size: 12px;
  color: #555;
}

.credits a {
  text-decoration: none;
  color: black;
}